In [1]:
import pandas as pd
import json

In [2]:
# Load the JSON file
with open('/Users/nonso/Downloads/niicteng_portalDb.json', 'r') as json_file:
    database_data = json.load(json_file)

In [6]:
# Show all the database data to see tables that has some valuable content
read_db_data = pd.read_json('/Users/nonso/Downloads/niicteng_portalDb.json')
read_db_data.head(40)

,type,version,comment,name,database,data
0,header,5.2.1,Export to JSON plugin for PHPMyAdmin,NaN,NaN,NaN
1,database,NaN,NaN,niicteng_portalDb,NaN,NaN
2,table,NaN,NaN,annual_dues,niicteng_portalDb,[]
3,table,NaN,NaN,area_of_specifications,niicteng_portalDb,"[{'id': '1', 'name': 'Physics Electronics', 'd..."
4,table,NaN,NaN,charges,niicteng_portalDb,"[{'charge_id': '1', 'type': 'Admission Fee', '..."
5,table,NaN,NaN,donorhistories,niicteng_portalDb,"[{'dhid': '1', 'donorid': '1', 'amount': '1000..."
6,table,NaN,NaN,donors,niicteng_portalDb,"[{'id': '1', 'title': 'Engr', 'name': 'UDUAK E..."
7,table,NaN,NaN,emails,niicteng_portalDb,"[{'id': '1', 'recipients': 'austinigbe@gmail.c..."
8,table,NaN,NaN,events,niicteng_portalDb,"[{'event_id': '1', 'name': 'NIICTE Internation..."
9,table,NaN,NaN,event_histories,niicteng_portalDb,[]
10,table,NaN,NaN,failed_jobs,niicteng_portalDb,[]
11,table,NaN,NaN,fines,niicteng_portalDb,"[{'fine_id': '3', 'charge_id': '6', 'user_id':..."
12,table,NaN,NaN,images,niicteng_portalDb,[]
13,table,NaN,NaN,jobs,niicteng_portalDb,[]
14,table,NaN,NaN,local_governments,niicteng_portalDb,"[{'id': '1', 'state_id': '1', 'name': 'Aba Nor..."
15,table,NaN,NaN,logins,niicteng_portalDb,[]
16,table,NaN,NaN,members,niicteng_portalDb,[]
17,table,NaN,NaN,membership_statuses,niicteng_portalDb,"[{'membership_status_id': '1', 'name': 'Owing'..."
18,table,NaN,NaN,membership_upgrade_histories,niicteng_portalDb,"[{'id': '10', 'user_id': '184', 'old_status_id..."
19,table,NaN,NaN,messages,niicteng_portalDb,"[{'id': '2', 'thread_id': '2', 'user_id': '2',..."
20,table,NaN,NaN,message_attachment,niicteng_portalDb,[]
21,table,NaN,NaN,migrations,niicteng_portalDb,[]
22,table,NaN,NaN,niicte_types,niicteng_portalDb,"[{'type_id': '1', 'name': 'Fellow', 'amount': ..."
23,table,NaN,NaN,participants,niicteng_portalDb,"[{'id': '3', 'thread_id': '2', 'user_id': '2',..."
24,table,NaN,NaN,password_resets,niicteng_portalDb,"[{'email': 'ch_nwaiwu@yahoo.com', 'token': '$2..."
25,table,NaN,NaN,payments,niicteng_portalDb,"[{'payment_id': '29', 'user_id': '109', 'ntype..."
26,table,NaN,NaN,practice_statuses,niicteng_portalDb,"[{'practice_status_id': '1', 'name': 'Private ..."
27,table,NaN,NaN,reg_fee_bal,niicteng_portalDb,"[{'user_id': '154', 'ntype_id': '2', 'updated_..."
28,table,NaN,NaN,states,niicteng_portalDb,"[{'id': '1', 'name': 'Abia'}, {'id': '2', 'nam..."
29,table,NaN,NaN,threads,niicteng_portalDb,"[{'id': '2', 'subject': 'Admin Short Training'..."
30,table,NaN,NaN,users,niicteng_portalDb,"[{'user_id': '1', 'email': 'itguy@gnt.net', 'e..."
31,table,NaN,NaN,wallets,niicteng_portalDb,"[{'user_id': '101', 'pin': None, 'w_id': 'nw20..."
32,table,NaN,NaN,wallet_transaction_histories,niicteng_portalDb,"[{'transaction_id': '1', 'user_id': '116', 'de..."

In [7]:
# Iterate over each entry in the JSON data
for entry in database_data:
    if entry['type'] == 'table':
        table_name = entry['name']
        table_data = entry['data']
        df = pd.DataFrame(table_data)
        # Assign the table name as the DataFrame's name
        globals()[table_name] = df
        # Print the DataFrame for the current table
        print(f"DataFrame for {table_name}:")
        print(df.head())
        # You can further process the DataFrame as needed
        # For example, you can perform operations like filtering, grouping, etc.
        print('\n')

DataFrame for annual_dues:
Empty DataFrame
Columns: []
Index: []


DataFrame for area_of_specifications:
  id                                       name description
0  1                        Physics Electronics        None
1  4  Information and Communications Technology        None
2  5                       Computer Engineering        None
3  6                     Electrical Electronics        None
4  7              Telecommunication Engineering        None


DataFrame for charges:
  charge_id                         type    amount    note created_at  \
0         1                Admission Fee  10000.00    None       None
1         2                      Penalty   2000.00    None       None
2         5           Annual Dues - 2020   3000.00  Member       None
3         6           Annual Dues - 2020   5000.00  Fellow       None
4         7  Annual Dues - 2021 (Fellow)   5000.00  Fellow       None

            updated_at
0  2020-12-15 22:04:34
1  2020-04-25 16:54:53
2  2020-12-14 20:21:44
3  2020-12-14 20:22:02
4  2020-12-21 19:18:03


DataFrame for donorhistories:
  dhid donorid   amount           updated_at           created_at
0    1       1  1000.00  2024-02-06 22:11:29  2024-02-06 22:11:29


DataFrame for donors:
  id title                  name  phonenumber                    email  \
0  1  Engr  UDUAK EFFIONG ESSIEN  08036545996  essienuduak33@yahoo.com

    amount           updated_at           created_at
0  1000.00  2024-02-06 22:11:29  2024-02-06 22:11:29


DataFrame for emails:
  id            recipients                                 subject  \
0  1  austinigbe@gmail.com                               Test Test
1  2   ch_nwaiwu@yahoo.com                                 Testing
2  3  ibimaureen@yahoo.com  Request for correct COREN Number 45387

                                             content           created_at  \
0                               <p>Test Mail<br></p>  2023-04-21 19:01:31
1                             <p>Testing message</p>  2023-07-23 21:57:52
2  <p>Dear Abbey Maurren</p><p>During the review ...  2023-07-23 23:17:41

            updated_at
0  2023-04-21 19:01:31
1  2023-07-23 21:57:52
2  2023-07-23 23:17:41


DataFrame for events:
  event_id                             name early_amount  early_date  \
0        1  NIICTE International Conference         0.00  2021-09-21

  normal_amount normal_date late_amount   late_date  start_date    end_date  \
0          0.00  2021-09-28        0.00  2021-09-29  2021-09-29  2021-09-29

            created_at           updated_at
0  2021-10-02 11:38:33  2021-10-02 11:38:33


DataFrame for event_histories:
Empty DataFrame
Columns: []
Index: []


DataFrame for failed_jobs:
Empty DataFrame
Columns: []
Index: []


DataFrame for fines:
  fine_id charge_id user_id    due_date status balance  note isDeleted  \
0       3         6     101  2020-12-14      1    0.00  None         0
1       7         5     116  2020-12-14      1    0.00  None         0
2      25         8     116  2020-12-21      1    0.00  None         0
3      27         7     101  2021-01-08      1    0.00  None         0
4      29         8     109  2021-03-29      0    0.00  None         0

            created_at           updated_at
0  2020-12-14 20:05:32  2020-12-14 20:17:34
1  2020-12-14 20:06:43  2020-12-14 20:12:14
2  2020-12-21 20:08:44  2021-03-25 19:45:15
3  2021-01-08 09:02:45  2021-10-07 17:44:24
4  2021-03-29 10:19:15  2021-03-29 10:19:15


DataFrame for images:
Empty DataFrame
Columns: []
Index: []


DataFrame for jobs:
Empty DataFrame
Columns: []
Index: []


DataFrame for local_governments:
  id state_id       name
0  1        1  Aba North
1  2        1  Aba South
2  3        1  Arochukwu
3  4        1      Bende
4  5        1    Ikwuano


DataFrame for logins:
Empty DataFrame
Columns: []
Index: []


DataFrame for members:
Empty DataFrame
Columns: []
Index: []


DataFrame for membership_statuses:
  membership_status_id      name  code  note created_at           updated_at
0                    1     Owing  None  None       None  2020-04-25 07:07:55
1                    2  Inactive  None  None       None  2020-04-25 07:07:47
2                    3    Active  None  None       None                 None


DataFrame for membership_upgrade_histories:
   id user_id old_status_id new_status_id  balance       status  \
0  10     184             2             1  5000.00      pending
1  11     247             2             1  5000.00      pending
2  12     292             2             1  5000.00      pending
3  13     331             2             1  5000.00  disapproved
4  14     288             3             2  3000.00      pending

            created_at           updated_at
0  2021-11-14 21:51:56  2021-11-14 21:51:56
1  2022-11-10 14:06:05  2022-11-10 14:06:05
2  2023-02-07 14:17:37  2023-02-07 14:17:37
3  2023-04-22 08:57:36  2023-04-22 10:43:55
4  2023-11-02 17:02:30  2023-11-02 17:02:30


DataFrame for messages:
  id thread_id user_id          body attachment           created_at  \
0  2         2       2  Good Evening       None  2021-03-29 19:59:07
1  3         3       2  bbbbbbhbhbhh       None  2023-04-22 08:52:41
2  4         4       2   er2ngvrmflg       None  2023-04-22 08:53:30

            updated_at deleted_at
0  2021-03-29 19:59:07       None
1  2023-04-22 08:52:41       None
2  2023-04-22 08:53:30       None


DataFrame for message_attachment:
Empty DataFrame
Columns: []
Index: []


DataFrame for migrations:
Empty DataFrame
Columns: []
Index: []


DataFrame for niicte_types:
  type_id            name   amount  note created_at           updated_at
0       1          Fellow  5000.00  None       None  2020-11-11 22:32:35
1       2          Member  3000.00  None       None  2020-11-11 22:32:59
2       3       Associate  3000.00  None       None  2020-11-12 17:31:39
3       5         Student   500.00  None       None                 None
4       6  Software Engr.  3000.00  None       None  2021-11-09 10:29:03


DataFrame for participants:
  id thread_id user_id            last_read           created_at  \
0  3         2       2  2024-02-14 09:52:08  2021-03-29 19:59:07
1  4         2     109  2022-12-16 00:04:16  2021-03-29 19:59:07
2  5         2     116  2021-04-15 17:54:28  2021-03-29 19:59:07
3  6         3       2  2024-02-14 09:51:51  2023-04-22 08:52:41
4  7         4       2  2023-04-22 08:53:30  2023-04-22 08:53:30

            updated_at deleted_at
0  2024-02-14 09:52:08       None
1  2022-12-16 00:04:16       None
2  2021-04-15 17:54:28       None
3  2024-02-14 09:51:51       None
4  2023-04-22 08:53:30       None


DataFrame for password_resets:
                       email  \
0        ch_nwaiwu@yahoo.com
1     edwardrotimi@gmail.com
2         basietuk@gmail.com
3  olufemi.adeyemi@lfcww.org
4        netlikora@gmail.com

                                               token           created_at
0  $2y$10$GNZAHCfpmCnlA581oHOzqeoyPppeMp4m39RTi3Y...  2021-06-17 18:41:53
1  $2y$10$1fHA7jDPcj/0RmcxQ3hbH.XuM/9fTCe5.rHIfZC...  2021-09-30 12:09:48
2  $2y$10$8/ZGt/kP.7AwvpxK9zv0leCxUFXoOEtTmjgdtG8...  2022-04-16 00:35:03
3  $2y$10$5UWtmjQTQ4pcbGkQrVzgXexXJPfAWNTmuDHMegM...  2022-06-17 10:15:51
4  $2y$10$GmTvBJFyvncI4lQkaCRr6O0wuSz1JS4siWYYb4z...  2022-07-19 13:28:05


DataFrame for payments:
  payment_id user_id ntype_id    amount                           purpose  \
0         29     109     None  13000.00  Registration Fee and Annual Dues
1         30     101     None  15000.00  Registration Fee and Annual Dues
2         31     116     None  13000.00  Registration Fee and Annual Dues
3         32     125     None  15000.00  Registration Fee and Annual Dues
4         33     111     None  13000.00  Registration Fee and Annual Dues

   method isapproved is_top_up ImageUrl                     note is_deleted  \
0  Online          1         0     None  Verification successful          0
1  Online          1         0     None  Verification successful          0
2  Online          1         0     None  Verification successful          0
3  Online          1         0     None  Verification successful          0
4  Online          1         0     None  Verification successful          0

            created_at           updated_at
0  2020-12-07 12:07:37  2020-12-07 12:07:37
1  2020-12-07 12:08:46  2020-12-07 12:08:46
2  2020-12-07 17:30:47  2020-12-07 17:30:47
3  2020-12-08 11:54:07  2020-12-08 11:54:07
4  2020-12-14 15:20:23  2020-12-14 15:20:23


DataFrame for practice_statuses:
  practice_status_id            name  code  note created_at  \
0                  1  Private Sector  None  None       None
1                  2        Academic  None  None       None
2                  3      Government  None  None       None

            updated_at
0                 None
1  2020-04-25 07:42:16
2                 None


DataFrame for reg_fee_bal:
  user_id ntype_id           updated_at           created_at
0     154        2  2020-12-18 13:05:09  2020-12-18 13:05:09


DataFrame for states:
  id       name
0  1       Abia
1  2    Adamawa
2  3  Akwa Ibom
3  4    Anambra
4  5     Bauchi


DataFrame for threads:
  id                   subject           created_at           updated_at  \
0  2      Admin Short Training  2021-03-29 19:59:07  2021-03-29 19:59:07
1  3  Thank you for your email  2023-04-22 08:52:41  2023-04-22 08:52:41
2  4  Thank you for your email  2023-04-22 08:53:30  2023-04-22 08:53:30

  deleted_at
0       None
1       None
2       None


DataFrame for users:
  user_id                          email    email_verified_at      role  \
0       1                  itguy@gnt.net  2020-04-09 13:43:06  devadmin
1       2               admin@niicte.com  2020-04-25 10:30:48     admin
2     101             nwaulune@gmail.com  2020-12-04 14:31:54      user
3     108           austinigbe@gmail.com  2020-12-04 21:01:29      user
4     109  oluwadara.oluwalana@gmail.com  2020-12-07 08:56:05      user

                                            password  \
0  $2y$10$LpqH9rQggnRmHmBBVzxZweQ2juuTBPlMYjvGpaV...
1  $2y$10$9/9r7mav7Z0rN.K2rPdsnuy5ddOm8rSie2oyBIv...
2  $2y$10$HIU7QjqNB2v0njVPuzHp9.cvMK2ic18xjnGY.tC...
3  $2y$10$JFn2v1iochLbt/3jvf6OFOUuY7Lq1p1Zxvm54E8...
4  $2y$10$8/1mqAbWi4r95xXSuP5kR.bmVa3tXQvc/bFc8hx...

                                      remember_token           created_at  \
0  VipP6FXDelrQqQPJGrLQvoMQd3ljWqpSTV6wpuKjj4DGXL...  2020-03-30 17:46:46
1  CUKYPJnPmdaUNzpCrtMANJT9JVMMokFzZdhvJxVhBmLVr5...  2020-04-25 10:29:13
2  RgyMze0Y6go1w0rO9k7c0sYr4gT1hZzkSiYLnjpyN4CuYt...  2020-12-04 13:19:19
3  v9Ji8O2e64QFiwmccarozn1NNtjhiuZJ3dkywUhh9Hh2jp...  2020-12-04 21:00:21
4  MaNIKNBUjMuWfTtI7fbcvtBiGd69yU8fmsaufTaidGGyqS...  2020-12-07 08:42:51

            updated_at type_id practice_status_id  ... years_of_pg_experience  \
0  2020-04-14 14:31:37       1                  2  ...                   None
1  2020-04-25 10:38:49    None               None  ...                   None
2  2022-11-12 19:26:39       1                  3  ...                   None
3  2024-01-18 13:56:18       2                  3  ...                   None
4  2022-12-16 00:03:34       2                  1  ...                   None

  professional_qualification educational_institution  \
0                       None                    None
1                       None                    None
2                       None                    None
3                       None                    None
4                       None                    None

  educational_qualification birth_date level_of_responsibility job_title  \
0                      None       None                    None      None
1                      None       None                    None      None
2                      None       None                    None      None
3                      None       None                    None      None
4                      None       None                    None      None

  emploment_status deactivated_at reactivated_at
0             None           None           None
1             None           None           None
2             None           None           None
3             None           None           None
4             None           None           None

[5 rows x 44 columns]


DataFrame for wallets:
  user_id   pin      w_id credit_account debit_account current_balance  note  \
0     101  None  nw207683           0.00          0.00            0.00  None
1     108  None  nw217743           0.00          0.00            0.00  None
2     109  None  nw223345           0.00          0.00            0.00  None
3     112  None  nw214152           0.00          0.00            0.00  None
4     114  None  nw217689           0.00          0.00            0.00  None

            created_at           updated_at
0  2020-12-08 18:23:54  2020-12-08 18:23:54
1  2021-03-27 08:56:15  2021-03-27 08:56:15
2  2022-12-16 00:02:35  2022-12-16 00:02:35
3  2021-08-26 17:01:47  2021-08-26 17:01:47
4  2021-05-17 09:21:57  2021-05-17 09:21:57


DataFrame for wallet_transaction_histories:
  transaction_id user_id  deposit withdrawal wallet_balance transaction_ref  \
0              1     116  9000.00       0.00        9000.00      2378991886
1              2     116  9137.07       0.00       18137.07     -1360116944
2              3     231  6091.38       0.00        6091.38     -1311129291

         purpose           created_at           updated_at
0  Wallet top up  2022-12-19 16:25:12  2022-12-19 16:25:12
1  Wallet top up  2023-07-07 08:15:18  2023-07-07 08:15:18
2  Wallet top up  2023-07-28 14:14:22  2023-07-28 14:14:22

In [11]:
print(users.head())

  user_id                          email    email_verified_at      role  \
0       1                  itguy@gnt.net  2020-04-09 13:43:06  devadmin
1       2               admin@niicte.com  2020-04-25 10:30:48     admin
2     101             nwaulune@gmail.com  2020-12-04 14:31:54      user
3     108           austinigbe@gmail.com  2020-12-04 21:01:29      user
4     109  oluwadara.oluwalana@gmail.com  2020-12-07 08:56:05      user

                                            password  \
0  $2y$10$LpqH9rQggnRmHmBBVzxZweQ2juuTBPlMYjvGpaV...
1  $2y$10$9/9r7mav7Z0rN.K2rPdsnuy5ddOm8rSie2oyBIv...
2  $2y$10$HIU7QjqNB2v0njVPuzHp9.cvMK2ic18xjnGY.tC...
3  $2y$10$JFn2v1iochLbt/3jvf6OFOUuY7Lq1p1Zxvm54E8...
4  $2y$10$8/1mqAbWi4r95xXSuP5kR.bmVa3tXQvc/bFc8hx...

                                      remember_token           created_at  \
0  VipP6FXDelrQqQPJGrLQvoMQd3ljWqpSTV6wpuKjj4DGXL...  2020-03-30 17:46:46
1  CUKYPJnPmdaUNzpCrtMANJT9JVMMokFzZdhvJxVhBmLVr5...  2020-04-25 10:29:13
2  RgyMze0Y6go1w0rO9k7c0sYr4gT1hZzkSiYLnjpyN4CuYt...  2020-12-04 13:19:19
3  v9Ji8O2e64QFiwmccarozn1NNtjhiuZJ3dkywUhh9Hh2jp...  2020-12-04 21:00:21
4  MaNIKNBUjMuWfTtI7fbcvtBiGd69yU8fmsaufTaidGGyqS...  2020-12-07 08:42:51

            updated_at type_id practice_status_id  ... years_of_pg_experience  \
0  2020-04-14 14:31:37       1                  2  ...                   None
1  2020-04-25 10:38:49    None               None  ...                   None
2  2022-11-12 19:26:39       1                  3  ...                   None
3  2024-01-18 13:56:18       2                  3  ...                   None
4  2022-12-16 00:03:34       2                  1  ...                   None

  professional_qualification educational_institution  \
0                       None                    None
1                       None                    None
2                       None                    None
3                       None                    None
4                       None                    None

  educational_qualification birth_date level_of_responsibility job_title  \
0                      None       None                    None      None
1                      None       None                    None      None
2                      None       None                    None      None
3                      None       None                    None      None
4                      None       None                    None      None

  emploment_status deactivated_at reactivated_at
0             None           None           None
1             None           None           None
2             None           None           None
3             None           None           None
4             None           None           None

[5 rows x 44 columns]

In [12]:
# Check for null values in each column
null_users_table_columns = users.columns[users.isnull().any()]
print("Columns with null values:")
print(null_users_table_columns)

# Count null values in each column
null_counts = users[null_users_table_columns].isnull().sum()
print("\nNumber of null values in each column:")
print(null_counts)

Columns with null values:
Index(['email_verified_at', 'remember_token', 'type_id', 'practice_status_id',
       'membership_status_id', 'AofS_id', 'code', 'other_name', 'nse_number',
       'coren_number', 'other_number', 'organisation', 'date_confirmed',
       'img_file', 'gender', 'nse_category', 'details_of_coren_eqvnt',
       'address', 'state_id', 'country', 'city_id', 'years_of_eng_experience',
       'years_of_pg_experience', 'professional_qualification',
       'educational_institution', 'educational_qualification', 'birth_date',
       'level_of_responsibility', 'job_title', 'emploment_status',
       'deactivated_at', 'reactivated_at'],
      dtype='object')

Number of null values in each column:
email_verified_at              63
remember_token                174
type_id                       199
practice_status_id            234
membership_status_id          198
AofS_id                       233
code                           78
other_name                    205
nse_number                    156
coren_number                  160
other_number                  268
organisation                  184
date_confirmed                267
img_file                      205
gender                         29
nse_category                  234
details_of_coren_eqvnt        268
address                       187
state_id                      187
country                       219
city_id                       187
years_of_eng_experience       216
years_of_pg_experience        216
professional_qualification    216
educational_institution       216
educational_qualification     216
birth_date                    195
level_of_responsibility       244
job_title                     216
emploment_status              195
deactivated_at                267
reactivated_at                264
dtype: int64